<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/medo</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">123qwe$$</property>
        <!--настройки для стандартного пула соединений-->
        <property name="connection.pool_size">3</property>
        <!--настройки пула соединений для с использованием c3p0-->
        <!--property name="hibernate.c3p0.min_size">5</property-->
        <property name="current_session_context_class">thread</property>
        <!--Включаю логирование в выводом в консоль-->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.jdbc.time_zone">UTC</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <!--включаю кеширование второго уровня-->
        <!--может кэшироваться в памяти или на диске, а также в кластерном кэшировании и поддерживает дополнительный кэш результатов запроса Hibernate-->
        <!--property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property-->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.internal.EhcacheRegionFactory</property>
        <!--включаю кеш второго уровня-->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <!--Включаю кеш запросов-->
        <property name="hibernate.cache.use_query_cache">true</property>
        <!--включаю ленивую загрузку-->
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <!--Подключаю конфигурационный файл с настройками кеширования для билиотеки EhCache-->
        <property name="net.sf.ehcache.configurationResourceName">/ehcache.xml</property>
        <!--диавлект для БД, к которой будет идти подключение-->
        <!--текущая сессия будет привязана к текущему потоку, что позволит обращаться к сессии с помощью метода SessionFactory.getCurrentSession(), который возвращает сессию, связанную с текущим потоком-->
        <property name="current_session_context_class">thread</property>
        <!--property name="hbm2ddl.auto">save</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="hbm2ddl.auto">update</property-->
        <!--Подключенные классы-->
        <!--Подключение выполнено в классе SessionFactoryUtil-->
        <!--mapping class="com.kindcat.archivemedo.db.models.Documents" />
        <mapping class="com.kindcat.archivemedo.db.models.Notifs" />
        <mapping class="com.kindcat.archivemedo.db.models.Members" />
        <mapping class="com.kindcat.archivemedo.db.models.Receipts" />
        <mapping class="com.kindcat.archivemedo.db.models.Recipients" />
        <mapping class="com.kindcat.archivemedo.db.models.SchemaXml" />
        <mapping class="com.kindcat.archivemedo.db.models.Senders" />
        <mapping class="com.kindcat.archivemedo.db.models.TypeNotif" />
        <mapping class="com.kindcat.archivemedo.db.models.TypePkg" />
        <mapping class="com.kindcat.archivemedo.db.models.Users" /-->
        <!-- property name="connection.driver_class">com.mysql.jdbc.Driver</property →
    //Указываем, где искать драйвер;
        <property name="connection.url">jdbc:mysql://localhost:3306/mydb</property>
    //Путь, по которому будет идти запрос при обращении к базе данных (для данного примера - testdatabase на порту 3306, имя БД - mydb)
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="connection.username">root</property>
    //Пользователь
        <property name="connection.password">root</property>
    //Пароль
        <property name="connection.pool_size">3</property-->
        <!--property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    //Диалект для БД, к которой будет идти подключение;
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>//отображение SQL-запросов;
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
    //Поле, необходимое для того, чтобы дать разрешение Hibernate на обновление данных в БД. Если данных не будет, он их создаст.
        <mapping class="com.mcnz.jpa.examples.Player" / -->
    </session-factory>
</hibernate-configuration>