<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--
Фильтр кодировки
    -->
    <filter>
        <filter-name>encodingRequestFilter</filter-name>
        <filter-class>com.kindcat.archivemedo.filter.common.EncodingRequestFilter</filter-class>
    </filter>
    <!--
Фильтр проверки сессии пользователя
    -->
    <filter>
        <filter-name>existsSessionFilter</filter-name>
        <filter-class>com.kindcat.archivemedo.filter.signin.ExistsSessionFilter</filter-class>
    </filter>
    <!--
Фильтр загрузки файлов
    -->
    <filter>
        <filter-name>uploadListMembersFilter</filter-name>
        <filter-class>com.kindcat.archivemedo.filter.members.upload.UploadListMembersFilter</filter-class>
        <init-param>
            <param-name>tempFolder</param-name>
            <param-value>/var/tmp/appmedo</param-value>
        </init-param>
    </filter>
    <!--
Фильтр кодировки
    -->
    <filter-mapping>
        <filter-name>encodingRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--
Фильтр проверки сессии пользователя
    -->
    <filter-mapping>
        <filter-name>existsSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--
Фильтр загрузки файлов
    -->
    <filter-mapping>
        <filter-name>uploadListMembersFilter</filter-name>
        <url-pattern>/uploadListMembersFilter</url-pattern>
    </filter-mapping>
    <!--
Логирование
    -->
    <listener>
        <listener-class>
            com.kindcat.archivemedo.context.ReinitializingContext
        </listener-class>
    </listener>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!--
    Переменные приложения
    -->
    <!--context-param>
        <param-name>tempDir</param-name>
        <param-value>/var/tmp/appmedo</param-value>
    </context-param-->
    <welcome-file-list>
        <welcome-file>linkArchiveServlet</welcome-file>
    </welcome-file-list>
</web-app>
